In [1]:
import numpy as np
import pandas as pd

## construct a test dataframe

这里构造一个测试数据， T1~T7的列代表某个时间下的产品销售量
product_type列代表产品所属的类型，预设4个类型；
product_name代表产品名

In [25]:
data_rang = 9
pr_type = ['a', 'b', 'c', 'd']
data = {'product_name' : ['x0', 'x1', 'x3', 'x2', 'x4', 'x5', 'x6', 'x7', 'x8'],
       'T1': np.random.randint(100, size = [data_rang]),
       'T2': np.random.randint(100, size = [data_rang]),
       'T3': np.random.randint(100, size = [data_rang]),
       'T4': np.random.randint(100, size = [data_rang]),
       'T5': np.random.randint(100, size = [data_rang]),
       'T6': np.random.randint(100, size = [data_rang]),
       'T7': np.random.randint(100, size = [data_rang]),
       'product_type': p_type}

test_data = pd.DataFrame(data, columns = ['product_name', 'T1', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'product_type'])

In [26]:
print test_data

  product_name  T1  T2  T3  T4  T5  T6  T7 product_type
0           x0  73  27  45  57  69  78  92            d
1           x1  16   3  40  82  84   2  24            c
2           x3   1  83  20  61  99  33  99            c
3           x2   7  79  42  52  90  99  18            a
4           x4  88  74  98  52  49  18  14            a
5           x5  52  57  44  47  46   4  42            c
6           x6  79  72  25  51  15  83  77            a
7           x7  60  64  10  73  63  91  90            c
8           x8  79  62  30  60  63  35  55            c

## main function

dealing_data 把传入的数据根据产品类型做数据截取，截取后的数据为在某个指定时间段内，每个产品类的所有产品在这个时间段内的销售数据
然后再统计该时间段内每个类产品的销售总量，并排序

In [51]:
def dealing_data(data, start_time, end_time):
    product_ty = set(data['product_type']) 
    result_df = pd.DataFrame()
    
    for item in product_ty:
        tmp_data = data[data['product_type'] == item]
        slice_data = slicing_data(tmp_data, start_time, end_time)
        columns_name = ['product_name', 'product_type']
        
        tmp_data = tmp_data.loc[:, columns_name]
        tmp_data['statistic'] = np.zeros(np.array(tmp_data).shape[0])
        tmp_data['statistic'] = np.sum(slice_data, axis = 1)
        
        tmp_data = tmp_data.sort_values('statistic', ascending = False)
        
        tmp_data['rank'] = range(len(tmp_data))
        tmp_data['rank'] += 1
        
        result_df = result_df.append(tmp_data)
    print result_df
    return result_df

In [52]:
def slicing_data(data, start_time, end_time):
    #select_column = [pd.to_datetime(start_time), pd.to_datetime(end_time)]
    #print data
    #print "***********",data[select_column]
    return data.loc[:, start_time : end_time]
    #return data[select_column]

#### 查询函数， 通过输入指定产品名和起止时间参数， 返回该产品在该类中的销售排名

In [53]:
def query_rank(data, query_product_name, start_time, end_time):
    re_data = dealing_data(data, start_time, end_time)
    result = re_data[re_data['product_name'] == query_product_name]['rank'].values
    
    return result[0]

In [54]:
#查询 产品名为 x6 在 T1到T4这段时间内在同类产品中的销售排名
result_rank = query_rank(test_data, 'x6',  'T1', 'T3')

print "query result , the rank is %d"%result_rank

# 返回总的销售排名表

  product_name product_type  statistic  rank
4           x4            a        260     1
6           x6            a        176     2
3           x2            a        128     3
8           x8            c        171     1
5           x5            c        153     2
7           x7            c        134     3
2           x3            c        104     4
1           x1            c         59     5
0           x0            d        145     1
query result , the rank is 2

#### another form of datafram

In [56]:
def dealing_data_b(data, start_time, end_time):
    product_ty = set(data['product_type']) 
    result_df = pd.DataFrame()
    
    for item in product_ty:
        tmp_data = data[data['product_type'] == item]
        slice_data = slicing_data_b(tmp_data, start_time, end_time)
        columns_name = ['product_name', 'product_type']
        
        tmp_data = tmp_data.loc[:, columns_name]
        tmp_data['statistic'] = np.zeros(np.array(tmp_data).shape[0])
        tmp_data['statistic'] = np.sum(slice_data, axis = 1)
        
        tmp_data = tmp_data.sort_values('statistic', ascending = False)
        
        tmp_data['rank'] = range(len(tmp_data))
        tmp_data['rank'] += 1
        
        result_df = result_df.append(tmp_data)
    print result_df
    return result_df

In [57]:
def slicing_data_b(data, start_time, end_time):
    select_column = [pd.to_datetime(start_time), pd.to_datetime(end_time)]
    #print data
    #print "***********",data[select_column]
    #return data.loc[:, start_time : end_time]
    return data[select_column]

In [58]:
def query_rank_b(data, query_product_name, start_time, end_time):
    re_data = dealing_data_b(data, start_time, end_time)
    result = re_data[re_data['product_name'] == query_product_name]['rank'].values
    
    return result[0]

In [59]:
# construct dataframe
sale_value_date = { el: np.random.randint(100, size = [data_rang]) for el in pd.date_range('20100101', '20100109')}
sale_value_date_df = pd.DataFrame(sale_value_date)

print sale_value_date_df

   2010-01-01  2010-01-02  2010-01-03  2010-01-04  2010-01-05  2010-01-06  \
0          37          86          27          87          24          73
1          73           3          82          70          27          29
2          52          55          57          84          21          83
3          81          20          52           1          19          80
4          86          92          73          58          43          89
5          46          24          86          23          57          10
6          12          62          91          14          72          98
7          28          10          76          50           4           4
8          65          99          41          67          72          33

   2010-01-07  2010-01-08  2010-01-09
0          53          98           9
1          65          38          58
2          73          19          21
3           1          95          80
4           9          78          55
5           8          16           8
6          69          27          57
7          30          41          72
8          35           9          59

In [60]:
pr_type = ['a', 'b', 'c', 'd']
p_name = [ "x" + str(i) for i in range(data_rang) ]
p_type = [ np.random.choice(pr_type) for i in range(data_rang) ]

product_data = {'product_name': p_name,
               'product_type': p_type}

product_data_df = pd.DataFrame(product_data, columns = ['product_name', 'product_type'])

print product_data_df

  product_name product_type
0           x0            c
1           x1            a
2           x2            d
3           x3            a
4           x4            d
5           x5            d
6           x6            c
7           x7            d
8           x8            d

In [61]:
df = pd.concat([sale_value_date_df, product_data_df], axis = 1)

print df

   2010-01-01 00:00:00  2010-01-02 00:00:00  2010-01-03 00:00:00  \
0                   37                   86                   27
1                   73                    3                   82
2                   52                   55                   57
3                   81                   20                   52
4                   86                   92                   73
5                   46                   24                   86
6                   12                   62                   91
7                   28                   10                   76
8                   65                   99                   41

   2010-01-04 00:00:00  2010-01-05 00:00:00  2010-01-06 00:00:00  \
0                   87                   24                   73
1                   70                   27                   29
2                   84                   21                   83
3                    1                   19                   80
4                   58                   43                   89
5                   23                   57                   10
6                   14                   72                   98
7                   50                    4                    4
8                   67                   72                   33

   2010-01-07 00:00:00  2010-01-08 00:00:00  2010-01-09 00:00:00 product_name  \
0                   53                   98                    9           x0
1                   65                   38                   58           x1
2                   73                   19                   21           x2
3                    1                   95                   80           x3
4                    9                   78                   55           x4
5                    8                   16                    8           x5
6                   69                   27                   57           x6
7                   30                   41                   72           x7
8                   35                    9                   59           x8

  product_type
0            c
1            a
2            d
3            a
4            d
5            d
6            c
7            d
8            d

In [64]:
result_rank_b = query_rank_b(df, 'x6', '2010-01-01', '2010-01-03')
print "query result , the rank is %d"%result_rank_b

  product_name product_type  statistic  rank
1           x1            a        155     1
3           x3            a        133     2
6           x6            c        103     1
0           x0            c         64     2
4           x4            d        159     1
5           x5            d        132     2
2           x2            d        109     3
8           x8            d        106     4
7           x7            d        104     5
query result , the rank is 1